name: Deploy Website to EC2

on:
  push:
    branches: ["main"]
    paths:
      - "website/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Copy site files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          source: "website/*"
          target: "/tmp/website"

      - name: Publish to NGINX web root + restart
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            sudo rm -rf /var/www/html/*
            sudo cp -r /tmp/website/* /var/www/html/
            sudo systemctl restart nginx
            sudo systemctl status nginx --no-pager
